.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #000000; /* Solid black background */
  color: white;
  transition: left 0.3s ease;
  padding-top: 60px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  opacity: 1; /* Ensure the background is fully opaque */
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 20px;
  padding: 10px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  border-radius: 8px; /* Rounded corners */
}

.sidebar li:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Light transparent background on hover */
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}

.sidebar li span {
  margin-left: 15px;
  font-size: 18px;
  font-weight: 600; /* Bolder text */
}

.toggle-button-container {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1000;
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.toggle-button {
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
  background-color: #000;
  color: white;
  border: none;
  padding: 15px;
  font-size: 30px;
  cursor: pointer;
  transition: left 0.3s, background-color 0.3s, box-shadow 0.3s;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toggle-button-container:hover .toggle-button {
  left: 0;
}

.toggle-button:hover {
  background-color: #555;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

