.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: left 0.3s;
  padding-top: 60px;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.sidebar li span {
  margin-top: 5px;
}

.toggle-button-container {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1000;
  width: 30px;
  height: 100px;
  background-color: transparent;
}

.toggle-button {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  background-color: #000;
  color: white;
  border: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  transition: left 0.3s, background-color 0.3s, box-shadow 0.3s;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toggle-button-container:hover .toggle-button {
  left: 0;
}

.toggle-button:hover {
  background-color: #555;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}