@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes gradientFlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  body {
    background-color: white;
  }
  
  .footer_w {
    @apply bg-gradient-to-br from-gray-900 to-gray-700
     text-white text-center py-2 
     fixed bottom-0 w-full shadow-md font-sans text-sm;
  }